<p><%= link_to 'Voltar', rabbit_path %></p>

<p style='font-size:20px;'> Alterar coelho &#128048; </p><hr>

<% if @rabbit.errors.any? %>

  <% @rabbit.errors.full_messages.each do |message| %>
    <p>O campo <%= t(message) %></p>
  <% end %>

<% end %>

<%= form_with model: @rabbit, local:true do |f| %>

  <p>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>

    <%= f.select(:size, ['Pequeno', 'Médio', 'Grande', 'Gigante'], {include_blank: 'Tamanho'}, { :style => '' }) %>
   
    <%= f.label :color, 'Cor' %>
    <%= f.color_field(:color) %>
    
  </p><br>

  <%= f.submit "Alterar" %>
<% end %>