<p><%= link_to 'Voltar', dogs_path %></p>

<p style='font-size:20px;'> Doguinho adicionado &#128021; </p><hr>

<div>
  <p>Nome: <%= @dog.name %></p>
  <div>
    Cor:
    <div style="border-radius:80%; 
                border:solid 1px; 
                width:15px; 
                height:15px;
                display: inline-block;
                background-color:<%= @dog.color %>">
    </div>
  </div>
  <p>Tamanho: <%= @dog.size %></p>

  <p><%= image_tag(@dog.image_url(:thumb).to_s) %></p>
  
</div>